body{
    background-color: rgb(214,214,214);
}

.container {
       margin: 160px 0 0 200px;
   }

.row{
    width: 100%;
    height: 60px;
}
.one,.two,.three,.four,.five,.six{
    margin: 10px 0 0 0;
}
button{
    color:black;
    width: 55px;
    height: 55px;
    border: none;
    background: rgb(214,214,214);
    box-shadow: 5px 5px 10px #474343,-5px -5px 10px #fff;
    font-size: 20px;
    margin-left: 20px;
    outline: none;
    font-family: arial, hevetica, sans-serif;
     border-radius: 20%;
}
button: :active{
    box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2x #474343;

}
.back{
    width: 115px;
    border-radius: 10px;
    
}
.shift{
    width: 85px;
    border-radius: 10px;
}
.slace{
    width: ;
}